@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:wght@100;400&family=Shantell+Sans:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
   }
   
   header,
   footer {
    width: 100%;
    height: 120px;
    background-color: rgb(56, 56, 79);
    color: #ebdfdf;
    font-weight: 400;
   }
   
   
   h1,
   h2 {
    text-align: center;
    color: #5e5959;
   }
   h1, h2:hover{
    color: black;
    
   }
   h1{
    color: #ebdfdf;
   }
   
   img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
   }
   
   ul {
    padding-left: 40px;
    font-size: 20px;
   }
   
   p {
    text-align: center;
    font-size: 30px;
   }
   .card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
  }
  